
<header class="hero-unit stretch-content" id="banner">
	<navbar></navbar>
  <div class="container">
    <h1>Tic Tac Toe</h1>
    <p class="lead">Single Player Tic Tac Toe - NodeJS - Socket.io - Express</p>
  </div>
</header>

<section class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>{{winText}}</h1>
      <button uib-popover="Play against a random bot!" popover-trigger="mouseenter"  class="btn btn-primary" ng-click="startGame()">Start a new Game</button>
    </div>
    <div class="col-lg-12 text-center">
      <div class="tic-tac-toe-cell-container">
        <div class="row tictactoe-row" ng-repeat="rows in gameBoard track by $index" ng-init="rowNumber = $index">
          <div class="col-lg-1" ng-class="{'col-lg-offset-4':$index === 0}" ng-repeat="cell in rows track by $index">
            <button class="btn btn-primary" ng-disabled="cell !== 0" ng-class="{'btn-success': cell === 1, 'btn-danger': cell === 2}" ng-click="selectCell(rowNumber,$index)"><span ng-if="cell === 0">&nbsp;</span> <span ng-if="cell === 1">X</span><span ng-if="cell === 2">O</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>