<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="main()" >Link 1</a></li>
        <li ui-sref-active="active"><a ui-sref="view1()">Link 2</a></li>
        <li ui-sref-active="active"><a ui-sref="view2()">Link 3</a></li>
        <li ui-sref-active="active"><a ui-sref="view3()">Link 4</a></li>
        <li ui-sref-active="active"><a ui-sref="view4()">Link 5</a></li>
      </ul>
  </div>
</nav>